<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-block btn-dark">Register</button>
            <p class="error-text"><%= message %></p>
          </form>

        </div>
      </div>

      <div class="tail-link">
        <a class="text-dark" href="/login">Already have an account? Click here to sign in!</a>
      </div>
    </div>

    <div class="col-md-12 col-lg-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-lg btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
